{% set aaepns = namespace(aaeps=[]) %}
{% for aaep in infra_children | selectattr('infraAttEntityP', 'defined')
  | map(attribute='infraAttEntityP') | sort(attribute='attributes.name') %}
  {% set epgns = namespace(endpoint_groups=[]) %}
  {% for epg in aaep.children | selectattr('infraGeneric', 'defined')
    | map(attribute='infraGeneric') | selectattr('children', 'defined')
    | map(attribute='children') | flatten
    | selectattr('infraRsFuncToEpg', 'defined')
    | map(attribute='infraRsFuncToEpg') | map(attribute='attributes')
    | sort(attribute='tDn') %}
    {% set epgns.endpoint_groups = epgns.endpoint_groups + [{
      'endpoint_group': epg.tDn
        | regex_replace('^uni\/tn-(.*?)\/ap-(.*?)\/epg-(.*?)$', '\\3'),
      'tenant': epg.tDn
        | regex_replace('^uni\/tn-(.*?)\/ap-(.*?)\/epg-(.*?)$', '\\1'),
      'application_profile': epg.tDn
        | regex_replace('^uni\/tn-(.*?)\/ap-(.*?)\/epg-(.*?)$', '\\2'),
      'mode': epg.mode | default('') | replace('regular', ''),
      'deployment_immediacy': epg.instrImedcy | default('')
        | replace('lazy', ''),
      'vlan': epg.encap | replace('vlan-', '') if
        (epg.primaryEncap == 'unknown' and epg.encap != 'unknown')
        else epg.primaryEncap | regex_replace('^vlan-', ''),
      'primary_vlan': epg.primaryEncap if epg.primaryEncap != 'unknown'
        | default('') else '' | regex_replace('^vlan-', ''),
      'secondary_vlan': epg.encap if epg.primaryEncap != 'unknown'
        | default('') else '' | regex_replace('^vlan-', ''),
    }] %}
  {% endfor %}
  {% set physdomns = namespace(physical_domains=[]) %}
  {% for dom in aaep.children | selectattr('infraRsDomP', 'defined')
    | map(attribute='infraRsDomP')
    | selectattr('attributes.tDn', 'search', '^uni/phys-')
    | default('') %}
    {% set physdomns.physical_domains = physdomns.physical_domains + [
      dom.attributes.tDn | replace('uni/phys-', '')
    ] %}
  {% endfor %}
  {% set rtdomns = namespace(routed_domains=[]) %}
  {% for dom in aaep.children | selectattr('infraRsDomP', 'defined')
    | map(attribute='infraRsDomP')
    | selectattr('attributes.tDn', 'search', '^uni/l3dom-')
    | default('') %}
    {% set physdomns.physical_domains = physdomns.physical_domains + [
      dom.attributes.tDn | replace('uni/l3dom-', '')
    ] %}
  {% endfor %}
  {% set vmmdomns = namespace(vmware_vmm_domains=[]) %}
  {% for dom in aaep.children | selectattr('infraRsDomP', 'defined')
    | map(attribute='infraRsDomP')
    | selectattr('attributes.tDn', 'search', '^uni/vmmp-VMware/dom-')
    | default('') %}
    {% set physdomns.physical_domains = physdomns.physical_domains + [
      dom.attributes.tDn | replace('uni/vmmp-VMware/dom-', '')
    ] %}
  {% endfor %}
  {% set aaepns.aaeps = aaepns.aaeps + [{
    'name': aaep.attributes.name,
    'description': aaep.attributes.descr | default(''),
    'infra_vlan': 'true' if aaep.children
      | selectattr('infraProvAcc', 'defined') else '' | default(''),
    'physical_domains': physdomns.physical_domains | default(''),
    'routed_domains': rtdomns.routed_domains | default(''),
    'vmware_vmm_domains': vmmdomns.vmware_vmm_domains | default(''),
    'endpoint_groups': epgns.endpoint_groups | default(''),
  }] %}
{% endfor %}
{% set _=accpolns.access_policies.__setitem__('aaeps', aaepns.aaeps) %}