  {% import 'macro_handler.j2' as helper %}
  {% set fabbgpns = namespace(bgp_policies={}) %}
  {% set _=fabbgpns.bgp_policies.__setitem__('fabric_bgp_as', polUni
    | selectattr('fabricInst', 'defined') | map(attribute='fabricInst')
    | selectattr('children', 'defined') | map(attribute='children') | flatten
    | selectattr('bgpInstPol', 'defined') | map(attribute='bgpInstPol')
    | selectattr('children', 'defined') | map(attribute='children') | flatten
    | selectattr('bgpAsP', 'defined') | map(attribute='bgpAsP.attributes.asn')
    | first | default('') ) %}
  {% set _=fabbgpns.bgp_policies.__setitem__('fabric_bgp_ext_rr', polUni
    | selectattr('fabricInst', 'defined') | map(attribute='fabricInst')
    | selectattr('children', 'defined') | map(attribute='children') | flatten
    | selectattr('bgpInstPol', 'defined') | map(attribute='bgpInstPol')
    | selectattr('children', 'defined') | map(attribute='children') | flatten
    | selectattr('bgpExtRRP', 'defined') | map(attribute='bgpExtRRP')
    | selectattr('children', 'defined') | map(attribute='children') | flatten
    | selectattr('bgpRRNodePEp', 'defined') | map(attribute='bgpRRNodePEp.attributes.id')
    | sort | default([]) ) %}
  {% set _=fabbgpns.bgp_policies.__setitem__('fabric_bgp_rr', polUni
    | selectattr('fabricInst', 'defined') | map(attribute='fabricInst')
    | selectattr('children', 'defined') | map(attribute='children') | flatten
    | selectattr('bgpInstPol', 'defined') | map(attribute='bgpInstPol')
    | selectattr('children', 'defined') | map(attribute='children') | flatten
    | selectattr('bgpRRP', 'defined') | map(attribute='bgpRRP')
    | selectattr('children', 'defined') | map(attribute='children') | flatten
    | selectattr('bgpRRNodePEp', 'defined')
    | map(attribute='bgpRRNodePEp.attributes.id')
    | sort | default([]) ) %}
{{ helper.remove_empty(fabbgpns.bgp_policies) | indent(4, true) if fabbgpns.bgp_policies }}