{% set fabconfigs = namespace(config_exports=[]) %}
{% for export in polUni | selectattr('fabricInst', 'defined')
  | map(attribute='fabricInst') | selectattr('children', 'defined')
  | map(attribute='children') | flatten
  | selectattr('configExportP', 'defined') | map(attribute='configExportP')
  | sort(attribute='attributes.name') %}
  {% set fabconfigs.config_exports = fabconfigs.config_exports + [{
    'name': export.attributes.name,
    'description': export.attributes.descr | default('') | regex_replace('^(.*[:*].*)$', '"\\1"'),
    'format': export.attributes.format | default('') | replace('json',''),
    'snapshot': export.attributes.snapshot | default('') | replace('no','')
      | replace('yes', 'true'),
    'remote_location': export | selectattr('children', 'defined') | map(attribute='children')
      | flatten | list
      | selectattr('configRsRemotePath', 'defined')
      | map(attribute='configRsRemotePath.attributes.tnFileRemotePathName')
      | first | default(''),
    'scheduler': export | selectattr('children', 'defined') | map(attribute='children')
      | flatten | list
      | selectattr('configRsExportScheduler', 'defined')
      | map(attribute='configRsExportScheduler.attributes.tnTrigSchedPName')
      | first | default(''),
  }] %}
{% endfor %}
{% set _=fabpolns.fabric_policies.__setitem__('config_exports', fabconfigs.config_exports) %}