{% set fabpodns = namespace(pod_policies={}) %}
{#- DateTime Policies -#}
{% set dtpolns = namespace(date_time_policies=[]) %}
{% for pol in fabricInst_children | selectattr('datetimePol', 'defined')
  | map(attribute='datetimePol') | sort(attribute='attributes.name') %}
  
  {#- NTP Servers -#}
  {% set ntpserversns = namespace(ntp_servers=[]) %}
  {% for server in [pol] | selectattr('children', 'defined')
    | map(attribute='children') | flatten
    | selectattr('datetimeNtpProv', 'defined')
    | map(attribute='datetimeNtpProv') | default([]) %}
    {% set ntpserversns.ntp_servers = ntpserversns.ntp_servers + [{
      'hostname_ip': server.attributes.name,
      'auth_key_id': server.attributes.keyId | default('')
        | regex_replace('^0$', ''),
      'preferred': 'false' if server.attributes.preferred == 'no' else ''
        | default(''),
      'mgmt_epg': 'oob' if '/oob-' in [server] | selectattr('children', 'defined')
        | map(attribute='children') | flatten
        | selectattr('datetimeRsNtpProvToEpg', 'defined')
        | map(attribute='datetimeRsNtpProvToEpg.attributes.tDn')
        | first else ''| default(''),
    }] %}
  {% endfor %}

  {#- NTP Keys -#}
  {% set ntpkeysns = namespace(ntp_keys=[]) %}
  {% for key in [pol] | selectattr('children', 'defined')
    | map(attribute='children') | flatten
    | selectattr('datetimeNtpAuthKey', 'defined')
    | map(attribute='datetimeNtpAuthKey') | default([])
  %}
    {% set ntpkeysns.ntp_keys = ntpkeysns.ntp_keys + [{
      'id': key.attributes.id,
      'key': key.attributes.key | default(''),
      'auth_type': key.attributes.keyType | default(''),
      'trusted': 'false' if 'no' in key.attributes.trusted | default(''),
    }] %}
  {% endfor %}
  {%- set dtpolns.date_time_policies = dtpolns.date_time_policies + [{
    'name': pol.attributes.name,
    'description': pol.attributes.descr | default(''),
    'ntp_admin_state': 'false' if 'disabled' in pol.attributes.adminSt else ''
      | default(''),
    'ntp_auth_state': 'true' if 'enabled' in pol.attributes.authSt else ''
      | default(''),
    'apic_ntp_server_state': 'true' if 'enabled' in pol.attributes.serverState else ''
      | default(''),
    'apic_ntp_server_master_mode': 'true' if 'enabled' in pol.attributes.masterMode else ''
      | default(''),
    'apic_ntp_server_master_stratum': pol.attributes.StratumValue
      | default('') | regex_replace('^8$', ''),
    'ntp_servers': ntpserversns.ntp_servers | default(''),
    'ntp_keys': ntpkeysns.ntp_keys | default(''),
  }] %}
{% endfor %}
{#- END DateTime Policies -#}
{% set _=fabpodns.pod_policies.__setitem__('pod_policies', {
  'date_time_policies': dtpolns.date_time_policies,
} ) %}
{% include "fabric_policies/management_access_policies.nac.j2" %}
{{ helper.remove_empty(fabpodns.pod_policies) | indent(4, true) }}