{% import 'macro_handler.j2' as helper %}
{% set radius_providers = aaaUserEp | selectattr('aaaRadiusEp', 'defined')
  | map(attribute='aaaRadiusEp')
  | selectattr('children', 'defined') | map(attribute='children') | flatten
  | selectattr('aaaRadiusProvider', 'defined')
  | map(attribute='aaaRadiusProvider') | list
%}
{% set fabradiusns = namespace(radius_providers=[]) %}
{% for prov in aaaUserEp | selectattr('aaaRadiusEp', 'defined')
  | map(attribute='aaaRadiusEp')
  | selectattr('children', 'defined') | map(attribute='children') | flatten
  | selectattr('aaaRadiusProvider', 'defined')
  | map(attribute='aaaRadiusProvider') | list
  | sort(attribute='attributes.name') %}
  {% set fabradiusns.radius_providers = fabradiusns.radius_providers + [{
    'hostname_ip': prov.attributes.name,
    'description': prov.attributes.descr | default(''),
    'protocol': prov.attributes.authProtocol | default('') | replace('pap',''),
    'key': prov.attributes.key | default(''),
    'port': prov.attributes.port | default('') | replace('49', ''),
    'timeout': prov.attributes.timeout | default('') | replace('5', ''),
    'retries': prov.attributes.retries | default('') | regex_replace('^1$', ''),
    'monitoring_username': prov.attributes.monitoringUser | default('')
      | replace('default', ''),
    'monitoring_password': prov.attributes.monitoringPassword | default(''),
    'monitoring': prov.attributes.monitorServer | default('') | replace('disabled', '')
      | replace('enabled', 'true'),
    'mgmt_epg_type': 'oob' if 'oob' in [prov] | selectattr('children', 'defined')
      | map(attribute='children') | flatten | list
      | selectattr('aaaRsSecProvToEpg', 'defined')
      | map(attribute='aaaRsSecProvToEpg.attributes.tDn')
      | first | default('') else '',
    'mgmt_epg': [prov] | selectattr('children', 'defined') | map(attribute='children')
      | flatten | list | selectattr('aaaRsSecProvToEpg', 'defined')
      | map(attribute='aaaRsSecProvToEpg.attributes.tDn')
      | first | default('') | regex_replace('^uni/tn-mgmt/mgmtp-default/(inb|oob)-', '')
  }] %}
{% endfor %}
{{ 'radius_providers:' | indent(6, true) if fabradiusns.radius_providers }}
{{ helper.remove_empty(fabradiusns.radius_providers)
  | indent(8, true) if fabradiusns.radius_providers }}