{% set fabremotens = namespace(remote_locations=[]) %}
{% for remote in polUni
  | selectattr('fabricInst', 'defined') | map(attribute='fabricInst')
  | selectattr('children', 'defined') | map(attribute='children') | flatten
  | selectattr('fileRemotePath', 'defined') | map(attribute='fileRemotePath') %}
  {% set fabremotens.remote_locations = fabremotens.remote_locations + [{
    'name': remote.attributes.name,
    'hostname_ip': remote.attributes.host,
    'description': remote.attributes.descr | default(''),
    'auth_type': remote.attributes.authType | default('')
      | replace('usePassword','')
      | replace('useSshKeyContents','ssh_keys'),
    'protocol': remote.attributes.protocol | default('sftp'),
    'path': remote.attributes.remotePath | default(''),
    'port': remote.attributes.remotePort | default('') | replace('0', ''),
    'username': remote.attributes.userName,
    'password': remote.attributes.password | default(''),
    'ssh_private_key': remote.attributes.identityPrivateKeyContents
      | default(''),
    'ssh_public_key': remote.attributes.identityPublicKeyContents
      | default(''),
    'ssh_passphrase': remote.attributes.identityPrivateKeyPassphrase
      | default(''),
    'mgmt_epg': [remote] | selectattr('children', 'defined')
      | map(attribute='children') | flatten
      | selectattr('fileRsARemoteHostToEpg', 'defined')
      | map(attribute='fileRsARemoteHostToEpg.attributes.tDn')
      | first | default('')
      | regex_replace('^uni/tn-mgmt/mgmtp-default/(inb|oob)-', '')
  }] %}
{% endfor %}
{% set _=fabpolns.fabric_policies.__setitem__('remote_locations', fabremotens.remote_locations) %}