{% import 'macro_handler.j2' as helper %}
{% set srmplsglobns = namespace(sr_mpls_global_configuration={}) %}
  {% set srmplsglobns.sr_mpls_global_configuration = {
    'sr_global_block_minimum': polUni | selectattr('fvTenant', 'defined') | map(attribute='fvTenant')
    | selectattr('attributes.name', 'equalto', 'infra')
    | selectattr('children', 'defined') | map(attribute='children') | flatten | list
    | selectattr('mplsLabelPol', 'defined') | map(attribute='mplsLabelPol')
    | selectattr('children', 'defined') | map(attribute='children') | flatten | list
    | selectattr('mplsSrgbLabelPol', 'defined') | map(attribute='mplsSrgbLabelPol.attributes.minSrgbLabel')
    | first | default('') | replace('16000',''),
    'sr_global_block_maximum': polUni | selectattr('fvTenant', 'defined') | map(attribute='fvTenant')
    | selectattr('attributes.name', 'equalto', 'infra')
    | selectattr('children', 'defined') | map(attribute='children') | flatten | list
    | selectattr('mplsLabelPol', 'defined') | map(attribute='mplsLabelPol')
    | selectattr('children', 'defined') | map(attribute='children') | flatten | list
    | selectattr('mplsSrgbLabelPol', 'defined') | map(attribute='mplsSrgbLabelPol.attributes.maxSrgbLabel')
    | first | default('') | replace('23999','')
  }
  %}
{{ 'sr_mpls_global_configuration:' 
  | indent(4, true) if srmplsglobns.sr_mpls_global_configuration }}
{{ helper.remove_empty(srmplsglobns.sr_mpls_global_configuration)
  | indent(6, true) if srmplsglobns.sr_mpls_global_configuration }}