{%- import 'macro_handler.j2' as helper -%}
{%- set apns = namespace(application_profiles=[]) -%}
{%- for ap in this_tenant.children | selectattr('fvAp', 'defined')
  | map(attribute='fvAp') | flatten | default('') | sort(attribute='attributes.name') %}
  
  {%- set epgns = namespace(endpoint_groups=[]) -%}
  {%- include "tenant_policies/endpoint_groups.nac.j2" -%}
  
  {% set apns.application_profiles = apns.application_profiles + [{
    'name': ap.attributes.name,
    'alias': ap.attributes.nameAlias | default(''),
    'description': ap.attributes.descr | default(''),
    'endpoint_groups': epgns.endpoint_groups | default(''),
  }] %}
{% endfor %}
{{ helper.remove_empty({'application_profiles': apns.application_profiles}) | indent(6, true) }}