{% set aps = this_tenant.children | selectattr('fvAp', 'defined') | map(attribute='fvAp')
  | flatten | list
%}
    {% if aps | length > 0 %}
      application_profiles:
      {% for ap in aps | sort(attribute='attributes.name') %}
        - name: {{ ap.attributes.name }}
        {% if ap.attributes.nameAlias != '' %}
          alias: {{ ap.attributes.nameAlias }}
        {% endif %}
        {% if ap.attributes.descr != '' %}
          description: '{{ ap.attributes.descr }}'
        {% endif %}
{% include "tenant_policies/endpoint_groups.nac.j2" %}
      {% endfor %}
    {% endif %}