{%- import 'macro_handler.j2' as helper -%}
{% set contracts = this_tenant.children | selectattr('vzBrCP', 'defined')
  | map(attribute='vzBrCP') | default([]) | flatten %}
{% set imp_contracts = this_tenant.children | selectattr('vzCPIf', 'defined')
  | map(attribute='vzCPIf') | flatten | list | default([]) %}
{% set contractns = namespace(contracts=[]) %}
{% for con in contracts | sort(attribute='attributes.name') %}
  {% set subjectns = namespace(subjects=[]) %}
  {% for subject in [con]
    | selectattr('children', 'defined') | map(attribute='children') | flatten
    | selectattr('vzSubj','defined') | map(attribute='vzSubj')
    | list | default([]) %}
    {% set filterns = namespace(filters=[]) %}
    {% for filter in [subject]
      | selectattr('children', 'defined') | map(attribute='children') | flatten
      | selectattr('vzRsSubjFiltAtt','defined') | map(attribute='vzRsSubjFiltAtt')
      | list | default([]) %}
      {% set filterns.filters = filterns.filters +
        [{
          'filter': filter.attributes.tnVzFilterName,
          'action': filter.attributes.action | default('')
            | replace('permit', ''),
          'priority': filter.attributes.priorityOverride | default('')
            | replace('default', ''),
          'log': 'true' if 'log' in filter.attributes.directives
            | default('') else '',
          'no_stats': 'true' if 'no_stats' in filter.attributes.directives
            | default('') else '',
        }] %}
    {% endfor %}{#- filter -#}
    {% set subjectns.subjects = subjectns.subjects +
      [{
        'name': subject.attributes.name,
        'alias': subject.attributes.nameAlias | default(''),
        'description': subject.attributes.descr | default(''),
        'service_graph': '',
        'qos_class': subject.attributes.prio | default('')
          | replace('unspecified', ''),
        'target_dscp': subject.attributes.targetDscp | default('')
          | replace('unspecified', ''),
        'reverse_filter_ports': 'false' if subject.attributes.revFltPorts == 'no' else ''
          | default(''),
        'filters': filterns.filters | default([]),
        'consumer_to_provider_service_graph': '',
        'consumer_to_provider_qos_class': '',
        'consumer_to_provider_target_dscp': '',
        'consumer_to_provider_filters': [],
        'provider_to_consumer_service_graph': '',
        'provider_to_consumer_qos_class': '',
        'provider_to_consumer_target_dscp': '',
        'provider_to_consumer_filters': [],
      }] %}
  {% endfor %}{#- subject -#}
  {% set contractns.contracts = contractns.contracts +
    [{
    'name': con.attributes.name,
    'alias': con.attributes.nameAlias | default(''),
    'description': con.attributes.descr | default(''),
    'scope': con.attributes.scope | default('') | replace('context', ''),
    'qos_class': con.attributes.prio | default('') | replace('unspecified', ''),
    'target_dscp': con.attributes.targetDscp | default('') | replace('unspecified', ''),
    'subjects': subjectns.subjects | default([]),
    }] %}
{% endfor %}{#- con -#}
{{ 'contracts:' | indent(6, first=True) if contractns.contracts }}
{{ helper.remove_empty(contractns.contracts) | indent(8, first=True)}}