{%- import 'macro_handler.j2' as helper -%}
{% set contracts = this_tenant.children | selectattr('vzBrCP', 'defined')
  | map(attribute='vzBrCP') | default([]) | flatten %}
{% set imp_contracts = this_tenant.children | selectattr('vzCPIf', 'defined')
  | map(attribute='vzCPIf') | flatten | list | default([]) %}
{% set contractns = namespace(contracts=[]) %}
{%- for con in contracts | sort(attribute='attributes.name') %}
  {% set subjectns = namespace(subjects=[]) %}
  {% for subject in [con]
    | selectattr('children', 'defined') | map(attribute='children') | flatten
    | selectattr('vzSubj','defined') | map(attribute='vzSubj')
    | list | default([]) %}
    {% set filterns = namespace(filters=[]) %}
    {% for filter in [subject]
      | selectattr('children', 'defined') | map(attribute='children') | flatten
      | selectattr('vzRsSubjFiltAtt','defined') | map(attribute='vzRsSubjFiltAtt')
      | list | default([]) %}
      {% set filterns.filters = filterns.filters +
        [{
          'filter': filter.attributes.tnVzFilterName,
          'action': filter.attributes.action | default('')
            | replace('permit', ''),
          'priority': filter.attributes.priorityOverride | default('')
            | replace('default', ''),
          'log': 'true' if 'log' in filter.attributes.directives
            | default('') else '',
          'no_stats': 'true' if 'no_stats' in filter.attributes.directives
            | default('') else '',
        }] %}
    {% endfor -%}
    {%- set c2pns = namespace(consumer_to_provider={}) -%}
    {%- for policy in [subject] | selectattr('children', 'defined')
      | map(attribute='children') | flatten
      | selectattr('vzInTerm', 'defined') | map(attribute='vzInTerm') %}
      {% set vzfilterns = namespace(filters=[]) %}
      {%- for filter in [policy] | selectattr('children', 'defined')
        | map(attribute='children') | flatten
        | selectattr('vzRsFiltAtt', 'defined')
        | map(attribute='vzRsFiltAtt') | default('') %}
        {%- set vzfilterns.filters = vzfilterns.filters + [{
          'filter': filter.attributes.tnVzFilterName,
          'action': filter.attributes.action | default('')
            | replace('permit', ''),
          'priority': filter.attributes.priorityOverride | default('')
            | replace('default', ''),
          'log': 'true' if 'log' in filter.attributes.directives
            | default('') else '',
          'no_stats': 'true' if 'no_stats' in filter.attributes.directives
            | default('') else '',
        }] -%}
      {% endfor %}
      {% set _=c2pns.consumer_to_provider.__setitem__('qos_class',
        policy.attributes.prio | default('') | replace('unspecified', '')) %}
      {% set _=c2pns.consumer_to_provider.__setitem__('target_dscp',
        policy.attributes.targetDscp | default('') | replace('unspecified', '')) %}
      {% set _=c2pns.consumer_to_provider.__setitem__('service_graph',
        [policy] | selectattr('children', 'defined')
        | map(attribute='children') | flatten
        | selectattr('vzRsInTermGraphAtt', 'defined')
        | map(attribute='vzRsInTermGraphAtt.attributes.tnVnsAbsGraphName')
        | first | default('')) %}
      {% set _=c2pns.consumer_to_provider.__setitem__('filters', vzfilterns.filters | default('')) %}
    {%- endfor -%}
    {%- set p2cns = namespace(provider_to_consumer={}) -%}
    {%- for policy in [subject] | selectattr('children', 'defined')
      | map(attribute='children') | flatten
      | selectattr('vzOutTerm', 'defined') | map(attribute='vzOutTerm') %}
      {% set vzfilterns = namespace(filters=[]) %}
      {%- for filter in [policy] | selectattr('children', 'defined')
        | map(attribute='children') | flatten
        | selectattr('vzRsFiltAtt', 'defined')
        | map(attribute='vzRsFiltAtt') | default('') %}
        {% set vzfilterns.filters = vzfilterns.filters + [{
          'filter': filter.attributes.tnVzFilterName,
          'action': filter.attributes.action | default('')
            | replace('permit', ''),
          'priority': filter.attributes.priorityOverride | default('')
            | replace('default', ''),
          'log': 'true' if 'log' in filter.attributes.directives
            | default('') else '',
          'no_stats': 'true' if 'no_stats' in filter.attributes.directives
            | default('') else '',
        }] %}
      {% endfor %}
      {% set _=p2cns.provider_to_consumer.__setitem__('qos_class',
        policy.attributes.prio | default('') | replace('unspecified', '')) %}
      {% set _=p2cns.provider_to_consumer.__setitem__('target_dscp',
        policy.attributes.targetDscp | default('') | replace('unspecified', '')) %}
      {% set _=p2cns.provider_to_consumer.__setitem__('service_graph',
        [policy] | selectattr('children', 'defined')
        | map(attribute='children') | flatten
        | selectattr('vzRsInTermGraphAtt', 'defined')
        | map(attribute='vzRsInTermGraphAtt.attributes.tnVnsAbsGraphName')
        | first | default('')) %}
      {% set _=p2cns.provider_to_consumer.__setitem__('filters', vzfilterns.filters | default('')) %}
    {% endfor -%}
    {% set subjectns.subjects = subjectns.subjects +
      [{
        'name': subject.attributes.name,
        'alias': subject.attributes.nameAlias | default(''),
        'description': subject.attributes.descr | default('') | regex_replace('^((?:.*\:.*))$', '"\\1"'),
        'service_graph': '',
        'qos_class': subject.attributes.prio | default('')
          | replace('unspecified', ''),
        'target_dscp': subject.attributes.targetDscp | default('')
          | replace('unspecified', ''),
        'reverse_filter_ports': 'false' if subject.attributes.revFltPorts == 'no' else ''
          | default(''),
        'filters': filterns.filters | default(''),
        'consumer_to_provider': c2pns.consumer_to_provider | default(''),
        'provider_to_consumer': p2cns.provider_to_consumer | default(''),
      }] %}
  {% endfor -%}
  {% set contractns.contracts = contractns.contracts +
    [{
    'name': con.attributes.name,
    'alias': con.attributes.nameAlias | default(''),
    'description': con.attributes.descr | default('') | regex_replace('^((?:.*\:.*))$', '"\\1"'),
    'scope': con.attributes.scope | default('') | replace('context', ''),
    'qos_class': con.attributes.prio | default('') | replace('unspecified', ''),
    'target_dscp': con.attributes.targetDscp | default('') | replace('unspecified', ''),
    'subjects': subjectns.subjects | default([]),
    }] %}
{% endfor -%}
{% set _=tenantns.tenant_policies.__setitem__('contracts', contractns.contracts ) %}
