{% import 'macro_handler.j2' as helper %}
{% set eepgns = namespace(eepgs=[]) %}
{% for eepg in [l3o] | selectattr('children', 'defined')
  | map(attribute='children') | flatten
  | selectattr('l3extInstP', 'defined') | map(attribute='l3extInstP')
  | default('') %}
  {% set eepgsubnetns = namespace(subnets=[])%}
  {% for subnet in [eepg] | selectattr('children', 'defined')
    | map(attribute='children') | flatten
    | selectattr('l3extSubnet', 'defined') | map(attribute='l3extSubnet')
    | list | default([]) %}
    {% set eepgsubnetns.subnets = [{
      'prefix': subnet.attributes.ip,
      'name': subnet.attributes.name | default(''),
      'description': subnet.attributes.descr | default(''),
      'alias': subnet.attributes.alias | default(''),
      'import_security': 'false' if 'import-security' not
          in subnet.attributes.scope else '',
      'shared_security': 'true' if 'shared-security'
          in subnet.attributes.scope else '',
      'shared_route_control': 'true' if 'shared-rtctrl'
          in subnet.attributes.scope else '',
      'export_route_control': 'true' if 'export-rtctrl'
          in subnet.attributes.scope else '',
      'import_route_control': 'true' if 'import-rtctrl'
          in subnet.attributes.scope else '',
      'aggregate_export_route_control': 'true' if 'export-rtctrl'
          in subnet.attributes.aggregate else '',
      'aggregate_import_route_control': 'true' if 'import-rtctrl'
          in subnet.attributes.aggregate else '',
      'aggregate_shared_route_control': 'true' if 'shared-rtctrl'
          in subnet.attributes.aggregate else '',
      'bgp_route_summarization': 'true' if 'bgprtsum' in [subnet]
        | selectattr('children', 'defined') | map(attribute='children') | flatten
        | selectattr('l3extRsSubnetToRtSumm', 'defined')
        | map(attribute='l3extRsSubnetToRtSumm.attributes.tDn')
        | first | default('') else '',
      'bgp_route_summarization_policy': [subnet]
        | selectattr('children', 'defined') | map(attribute='children') | flatten
        | selectattr('l3extRsSubnetToRtSumm', 'defined')
        | selectattr('l3extRsSubnetToRtSumm.attributes.tDn', 'search', 'bgprtsum')
        | map(attribute='l3extRsSubnetToRtSumm.attributes.tDn')
        | first | default('') | regex_replace('^.*bgprtsum-', ''),
      'ospf_route_summarization': 'true' if 'ospfrtsumm' in [subnet]
        | selectattr('children', 'defined') | map(attribute='children') | flatten
        | selectattr('l3extRsSubnetToRtSumm', 'defined')
        | map(attribute='l3extRsSubnetToRtSumm.attributes.tDn') | first
        | default('') else '',
      'eigrp_route_summarization': 'true' if 'eigrprtsumm' in [subnet]
        | selectattr('children', 'defined') | map(attribute='children') | flatten
        | selectattr('l3extRsSubnetToRtSumm', 'defined')
        | map(attribute='l3extRsSubnetToRtSumm.attributes.tDn')
        | first | default('') else '',
    }] %}
  {% endfor %}
  {% set contractns = namespace(contracts={}) %}
  {% set _=contractns.contracts.__setitem__('providers', [eepg]
    | selectattr('children', 'defined') | map(attribute='children')
    | flatten | selectattr('fvRsProv', 'defined')
    | map(attribute='fvRsProv.attributes.tnVzBrCPName')
    | list | default('')) %}
  {% set _=contractns.contracts.__setitem__('consumers', [eepg]
    | selectattr('children', 'defined') | map(attribute='children')
    | flatten | selectattr('fvRsCons', 'defined')
    | map(attribute='fvRsCons.attributes.tnVzBrCPName')
    | list | default('')) %}
  {% set _=contractns.contracts.__setitem__('imported_consumers', [eepg]
    | selectattr('children', 'defined') | map(attribute='children')
    | flatten | selectattr('fvRsConsIf', 'defined')
    | map(attribute='fvRsConsIf.attributes.tnVzCPIfName')
    | list | default('')) %}
  {% set eepgns.eepgs = eepgns.eepgs + [{
    'name': eepg.attributes.name,
    'description': eepg.attributes.descr | default(''),
    'alias': eepg.attributes.alias | default(''),
    'preferred_group': 'true' if eepg.attributes.prefGrMemb == 'include'
      else '' | default(''),
    'target_dscp': eepg.attributes.targetDscp | default('')
      | replace('unspecified', ''),
    'qos_class': eepg.attributes.prio | default('')
      | replace('unspecified', ''),
    'subnets': eepgsubnetns.subnets | default([]),
    'contracts': contractns.contracts | default([])
      if contractns.contracts | dict2items
      | selectattr('value', '!=', [] ),
  }] %}
{% endfor %}
{{ 'external_endpoint_groups:' | indent(width=10, first=True) if eepgns.eepgs }}
{{ helper.remove_empty(eepgns.eepgs) | indent(width=12, first=True) if eepgns.eepgs }}