{# {% set aaeps =  polUni.children | selectattr('infraInfra', 'defined') | map(attribute='infraInfra') | map(attribute='children') | flatten | list | selectattr('infraAttEntityP', 'defined') | map(attribute='infraAttEntityP') | list%} #}
{% set aaeps =  infra_children | selectattr('infraAttEntityP', 'defined') | map(attribute='infraAttEntityP') | list%}
    {% if aaeps | length > 0 %}
    aaeps:
    {% for aaep in aaeps %}
      - name: {{ aaep.attributes.name }}
      {% if aaep.attributes.descr != "" %}
        description: {{ aaep.attributes.descr }}
      {% endif %}
      {% if aaep.children is defined %}
        {% if aaep.children | selectattr('infraProvAcc', 'defined') %}
        infra_vlan: true
        {% endif %}
        {% set phys_domains = aaep.children | selectattr('infraRsDomP', 'defined') | map(attribute='infraRsDomP') | selectattr('attributes.tDn', 'search', '^uni/phys-') | list %}
        {% if phys_domains | length > 0 %}
        physical_domains:
          {% for domain in phys_domains %}
          - {{ domain.attributes.tDn | regex_replace('^uni/phys-', '') }}
          {% endfor %}
        {% endif %}
        {% set l3_domains = aaep.children | selectattr('infraRsDomP', 'defined') | map(attribute='infraRsDomP') | selectattr('attributes.tDn', 'search', '^uni/l3dom-') | list %}
        {% if l3_domains | length > 0 %}
        routed_domains:
          {% for domain in l3_domains %}
          - {{ domain.attributes.tDn | regex_replace('^uni/l3dom-', '') }}
          {% endfor %}
        {% endif %}
        {% set vmm_domains = aaep.children | selectattr('infraRsDomP', 'defined') | map(attribute='infraRsDomP') | selectattr('attributes.tDn', 'search', '^uni/vmmp-VMware/dom-') | list %}
        {% if vmm_domains | length > 0 %}
        vmware_vmm_domains:
          {% for domain in vmm_domains %}
          - {{ domain.attributes.tDn | regex_replace('^uni/vmmp-VMware/dom-', '') }}
          {% endfor %}
        {% endif %}
        {% set endpoint_groups = aaep.children | selectattr('infraGeneric', 'defined') | map(attribute='infraGeneric') | selectattr('children', 'defined') | map(attribute='children') | flatten | selectattr('infraRsFuncToEpg', 'defined') | map(attribute='infraRsFuncToEpg') | map(attribute='attributes')  %}
        {% if endpoint_groups | length > 0 %}
        endpoint_groups:
          {% for epg in endpoint_groups %}
            {% set tn, ap, group = epg.tDn.split('/')[1:] %}
          - endpoint_group: {{ group | regex_replace('^epg-', '') }}
            tenant: {{ tn | regex_replace('^tn-', '') }}
            application_profile: {{ ap | regex_replace('^ap-', '') }}
            {% if epg.primaryEncap == 'unknown' %}
              {% if epg.encap != 'unknown' %}
            vlan: {{ epg.encap | regex_replace('^vlan-', '') }}
              {%endif %}
            {% else %}
            primary_vlan: {{ epg.primaryEncap | regex_replace('^vlan-', '') }}
            secondary_vlan: {{ epg.encap | regex_replace('^vlan-', '') }}
            {% endif %}
            {% if epg.mode != 'regular' %}
            mode: {{ epg.mode }}
            {% endif %}
            {% if epg.instrImedcy != 'lazy' %}
            deployment_immediacy: {{ epg.instrImedcy }}
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endif %}
    {% endfor %}
    {% endif %}