{% set pdomains =  polUni.children | selectattr('physDomP', 'defined') | map(attribute='physDomP') | list%}
{% set rdomains =  polUni.children | selectattr('l3extDomP', 'defined') | map(attribute='l3extDomP') | list%}
{% if pdomains | length > 0 %}
    physical_domains:
  {% for domain in pdomains %}
      - name: {{ domain.attributes.name }}
    {% if domain.children is defined %}
    {% set vlpool = domain.children | selectattr('infraRsVlanNs', 'defined') | map(attribute='infraRsVlanNs') | flatten | list | map(attribute='attributes') | map(attribute='tDn') | list %}
      {% if vlpool != "" and vlpool != [] %}
        vlan_pool: {{ vlpool | first | replace('uni/infra/vlanns-[', '') | replace(']-dynamic', '') | replace(']-static', '') }}
      {% elif vlpool == [] %}
        vlan_pool: default
      {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if rdomains | length > 0 %}
    routed_domains:
  {% for domain in rdomains %}
      - name: {{ domain.attributes.name }}
    {% if domain.children is defined %}
      {% set vlpool = domain.children | selectattr('infraRsVlanNs', 'defined') | map(attribute='infraRsVlanNs') | flatten | list | map(attribute='attributes') | map(attribute='tDn') | list %}
        {% if vlpool != "" and vlpool != [] %}
        vlan_pool: {{ vlpool | first | replace('uni/infra/vlanns-[', '') | replace(']-dynamic', '') | replace(']-static', '') }}
        {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}
