{% set vlpools =  polUni.children | selectattr('infraInfra', 'defined') | map(attribute='infraInfra') | map(attribute='children') | flatten | list | selectattr('fvnsVlanInstP', 'defined') | map(attribute='fvnsVlanInstP') | list%}
    {% if vlpools | length > 0 %}
    vlan_pools:
      {% for vlpool in vlpools %}
      {% set ranges = vlpool.children | selectattr('fvnsEncapBlk', 'defined') | map(attribute='fvnsEncapBlk') | flatten | list %}
      - name: {{ vlpool.attributes.name }}
        {% if vlpool.attributes.descr != "" %}
        description: {{ vlpool.attributes.descr }}
        {% endif %}
        {% if vlpool.attributes.allocMode != "static" %}
        allocation: dynamic
        {% endif %}
        {% if ranges | length > 0 %}
        ranges:
          {% for range in ranges %}
          - from: {{ range.attributes.from | replace('vlan-','')}}
            {% if range.attributes.from != range.attributes.to %}
            to: {{ range.attributes.to | replace('vlan-','')}}
            {% endif %}
            {% if range.attributes.descr != "" %}
            description: {{ range.attributes.descr }}
            {% endif %}
            {% if range.attributes.allocMode != "inherit" and range.attributes.allocMode != vlpool.attributes.allocMode %}
            allocation: {{ range.attributes.allocMode }}
            {% endif %}
            {% if range.attributes.role != "external" %}
            role: internal
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    {% endif %}
