#jinja2: lstrip_blocks: True
---
{% set fabricInst_children = polUni | selectattr('fabricInst', 'defined') | map(attribute='fabricInst')
                      | selectattr('children', 'defined') | map(attribute='children') | flatten | list %}
{% set aaa_settings = polUni | selectattr('aaaUserEp', 'defined') | map(attribute='aaaUserEp')
                      | selectattr('children', 'defined') | map(attribute='children') | flatten | list %}
apic:
  fabric_policies:
  {% set conn_pref = fabricInst_children | selectattr('mgmtConnectivityPrefs', 'defined') | map(attribute='mgmtConnectivityPrefs') | first %}
  {% if conn_pref.attributes.interfacePref != 'inband' %}
    apic_conn_pref: "{{ conn_pref.attributes.interfacePref }}"
  {% endif %}
  {% set banner = aaa_settings | selectattr('aaaPreLoginBanner', 'defined') | map(attribute='aaaPreLoginBanner') %}
  {% if banner | length > 0 %}
    banners:
    {% for bnr in banner %}
      {% if bnr.attributes.guiTextMessage != '' %}
      apic_gui_alias: "{{ bnr.attributes.guiTextMessage }}"
      {% endif %}
      {% if bnr.attributes.message != '' %}
      apic_cli_banner: |
{{ bnr.attributes.message | indent(10, True) }}
      {% endif %}
      {% if bnr.attributes.switchMessage != '' %}
      switch_cli_banner: |
{{ bnr.attributes.switchMessage | indent(10, True) }}
      {% endif %}
      {% if bnr.attributes.guiMessage != '' %}
      apic_gui_banner_message: |
{{ bnr.attributes.guiMessage | indent(10, True) }}
      {% endif %}
    {% endfor %}
  {% endif %}
