#jinja2: lstrip_blocks: True
---
apic:
  pod_policies:
{% import 'macro_handler.j2' as helper -%}
{% set podpolns = namespace(pods=[]) -%}
{%- for pod in polUni | selectattr('ctrlrInst', 'defined')
  | map(attribute='ctrlrInst') | selectattr('children', 'defined')
  | map(attribute='children') | flatten
  | selectattr('fabricSetupPol', 'defined')
  | map(attribute='fabricSetupPol') | selectattr('children', 'defined')
  | map(attribute='children') | flatten
  | selectattr('fabricSetupP', 'defined') | map(attribute='fabricSetupP')
  | list | default([]) -%}

  {%- set extteppoolsns = namespace(pools=[]) -%}
  {% for pool in [pod]
    | selectattr('children', 'defined') | map(attribute='children') | flatten
    | selectattr('fabricExtRoutablePodSubnet', 'defined')
    | map(attribute='fabricExtRoutablePodSubnet')
    | flatten | list | default([]) %}
    {% set extteppoolsns.pools = extteppoolsns.pools + [{
      'prefix': pool.attributes.pool | default(''),
      'reserved_address_count': pool.attributes.reserveAddressCount
        | default(''),
    }] %}
  {%- endfor -%}

  {%- set remotepoolsns = namespace(pools=[]) -%}
  {% for pool in [pod]
    | selectattr('children', 'defined') | map(attribute='children') | flatten
    | selectattr('fabricExtSetupP', 'defined')
    | map(attribute='fabricExtSetupP')
    | flatten | list | default([]) %}
    {% set remotepoolsns.pools = remotepoolsns.pools + [{
      'id': pool.attributes.extPoolId | default(''),
      'remote_pool': pool.attributes.tepPool
        | default(''),
    }] %}
  {%- endfor -%}

  {% set podpolns.pods = podpolns.pods + [{
    'id': pod.attributes.podId,
    'tep_pool': pod.attributes.tepPool | default(''),
    'pod_type': pod.attributes.podType | default('') | replace('physical', ''),
    'unicast_tep': polUni | selectattr('fvTenant', 'defined')
    | selectattr('fvTenant.attributes.name', 'match', 'infra')
    | map(attribute='fvTenant')
    | selectattr('children', 'defined') | map(attribute='children') | flatten
    | selectattr('fvFabricExtConnP', 'defined') | map(attribute='fvFabricExtConnP')
    | selectattr('children', 'defined') | map(attribute='children') | flatten
    | selectattr('fvPodConnP', 'defined') 
    | selectattr('fvPodConnP.attributes.id', 'match', pod.attributes.podId)
    | map(attribute='fvPodConnP')
    | selectattr('children', 'defined') | map(attribute='children') | flatten
    | selectattr('fvExtRoutableUcastConnP', 'defined')
    | map(attribute='fvExtRoutableUcastConnP.attributes.addr')
    | first | default(''),
    'data_plane_tep': polUni | selectattr('fvTenant', 'defined')
    | selectattr('fvTenant.attributes.name', 'match', 'infra')
    | map(attribute='fvTenant')
    | selectattr('children', 'defined') | map(attribute='children') | flatten
    | selectattr('fvFabricExtConnP', 'defined') | map(attribute='fvFabricExtConnP')
    | selectattr('children', 'defined') | map(attribute='children') | flatten
    | selectattr('fvPodConnP', 'defined') 
    | selectattr('fvPodConnP.attributes.id', 'match', pod.attributes.podId)
    | map(attribute='fvPodConnP')
    | selectattr('children', 'defined') | map(attribute='children') | flatten
    | selectattr('fvIp', 'defined') | map(attribute='fvIp.attributes.addr')
    | first | default(''),
    'external_tep_pools': extteppoolsns.pools | default([]),
    'remote_pools': remotepoolsns.pools | default([]),
  }] %}
{%- endfor -%}
{{ 'pods:' | indent(4,true) if podpolns.pods }}
{{ helper.remove_empty(podpolns.pods) | indent(6,true) if podpolns.pods}}