{% set filters = this_tenant.children | selectattr('vzFilter', 'defined') | map(attribute='vzFilter') | flatten | list %}
{% if filters | length > 0 %}
      filters:
        {% for fltr in filters %}
        - name: {{ fltr.attributes.name }}
          {% if fltr.attributes.descr != "" %}
          description: {{ fltr.attributes.descr }}
          {% endif %}
          {% if fltr.children | selectattr('vzEntry','defined') | map(attribute='vzEntry') | list | length > 0 %}
          entries:
            {% for entry in fltr.children | selectattr('vzEntry','defined') | map(attribute='vzEntry') %}
            - name: {{ entry.attributes.name }}
              {% if entry.attributes.etherT != "ip" %}
              ethertype: {{ entry.attributes.etherT }}
              {% endif %}
              {% if entry.attributes.prot != "ip" %}
              protocol: {{ entry.attributes.prot }}
              {% endif %}
              {% if entry.attributes.sFromPort != "unspecified" %}
              source_from_port: {{ entry.attributes.sFromPort }}
              {% endif %}
              {% if entry.attributes.sToPort != "unspecified" and entry.attributes.sToPort != entry.attributes.sFromPort %}
              source_to_port: {{ entry.attributes.sToPort }}
              {% endif %}
              {% if entry.attributes.dFromPort != "unspecified" %}
              destination_from_port: {{ entry.attributes.dFromPort }}
              {% endif %}
              {% if entry.attributes.dToPort != "unspecified" and entry.attributes.dToPort != entry.attributes.dFromPort %}
              destination_to_port: {{ entry.attributes.dToPort }}
              {% endif %}
              {% if entry.attributes.stateful != "no" %}
              stateful: true
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
{% endif %}